:root{
    --poppins:'Poppins', sans-serif;
    --roboto:'Roboto', sans-serif;
    --montserrat:'Montserrat', sans-serif;
    --lightgreen: #6B7C76;
    --darkgreen: #364C44;
    --greengreen: #8A9A93;
    --textcolor: #EAEDE7;
    --green: #0FCDA3;
    --deepteal: #002C31;
    --cloudburst: #1F2F4F;
    --lightgreen: #ebfaf4;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
/*NAVIGATION BAR*/
nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    /* width: 280px; */
    background-color: var(--lightgreen);
    overflow: hidden;
    transition: 1s;
}
nav:hover{
    width: 280px;
    transition: 1s;
}
nav div{
    border-bottom: 1px solid black; 
}
.logo{
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo img{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    /*display: flex;
    justify-content: center;
    align-items: center;
    */
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    width: 280px;
    font-size: 18px;
    color: black;
    display: table;
    padding: 10px;
    border-bottom: 1px solid black;
}
nav .fa-solid, nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
a:hover i{
    color: var(--green);
    transition: 0.5s;
}
a:focus:not(.logout){
    background-color: var(--deepteal);
    color: var(--textcolor);
}
a:focus i:not(.logout){
    color: var(--textcolor);
}
/*.logout{
    position: absolute;
    bottom: 0;
} 
*/ 
.sidebar-footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    border: none;
}
.sidebar-footer .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons a {
    margin: 0.5rem;
}
.therapist-container{
    display: flex;
    justify-content:right;
    align-items:right;

}