:root{
    --poppins:'Poppins', sans-serif;
    --roboto:'Roboto', sans-serif;
    --montserrat:'Montserrat', sans-serif;
    --lightgreen: #6B7C76;
    --darkgreen: #364C44;
    --greengreen: #8A9A93;
    --textcolor: #EAEDE7;
    --green: #0FCDA3;
    --deepteal: #002C31;
    --cloudburst: #1F2F4F;
    --lightgreen: #ebfaf4;
}
/*HEADER*/
#logo{
    background-color: var(--lightgreen);
}
#logo .nav-health a{
    color: black;
    font-size: 20px;
    padding: 10px;
}
.dropdown-menu{
    padding: 5px;
    z-index: 1;
    background-color: var(--lightgreen);
}
  
.dropdown-menu a {
    color: black;
    text-align: left;
    padding: 10px;
    
} 
.dropdown-menu a:hover {
    background-color: red;
}
  
.dropdown-menu li:last-child a {
    border-bottom: none;
}
  
.dropdown-menu li a:hover {
    background-color: pink;
}
/*LANDING PAGE*/
.intro{
    margin-left: 20px;
}
.intro h1{
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: var(--textcolor);
    line-height: 1.5;
    display: block;
    margin-bottom: 40px;
    max-width: 400px;
}
.intro p{
    font-weight: 450;
    font-style: normal;
    color: var(--textcolor);
    font-size: 24px;
    max-width: 400px;
    line-height: 1.1;
    display: block;
}
/*.landimage{
    height: 100%; 
}*/
.introbutton a{
    background-color: var(--darkgreen);
    padding: 5px;
    margin: 20px;
    font-size: 20px;
    width: 150px;
    color: var(--textcolor);
}
.introbutton a:hover{
    background-color: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    color: var(--textcolor);
}
#usertype{
    border: 1px solid black;
}
/*SIGN UP*/
.container .anil form .error-msg{
    margin: 10px 0;
    display: block;
    background-color: var(--green);
    color: var(--textcolor);
    padding: 10px;
    border-radius: 5px;
}
/*SIGNIN PAGE*/
.form-center{
    display:flex;
    justify-content: center;
}
.kai .sol p{
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    font-family: var(--poppins);
    letter-spacing: 1px;
}
.zephyr .mb-3{
    padding: 5px;
}
.zephyr .mb-3 label{
    font-weight: 450;
}
.zephyr .mb-3 input, .zephyr .mb-3 select{
    max-width: 600px;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 1px solid black;
}
.zephyr .mb-3 input:focus{
   border: 1px solid ;
   outline: none;
}
.tempest{
    margin-bottom: 1px;
    background-color: var(--darkgreen);
}
.tempest .btn{
    background-color: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 600px;
    padding: 8px;
    
}
.tempest .btn:hover{
    background-color: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    color: white;
    text-decoration: none;
    padding: 8px;
}
/*HOMEPAGE*/
.container{
    margin-top: -10px;
}
.container .palinourous .ramiel p{
    font-weight: 500;
    color: var(--deepteal);
    text-align: center;
    font-size: 30px;
    font-family: var(--poppins);
    letter-spacing: 1px;
}
.container .palinourous .hazel img{
    margin-top: 8px;
}
.van .kailani{
    background-color: var(--darkgreen);
    padding: 15px;
    margin: 20px;
    font-size: 20px;
    color: var(--textcolor);
}
.van .kailani:hover{
    background-color: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    color: var(--textcolor);
    text-decoration: none;
    padding: 15px;
    margin: 20px;
    font-size: 20px;
}
/*Diseases*/
.zeru .anyle h2{
    padding-top: 15px;
}
.hema .card{
    background-color: var(--lightgreen);
}
.hema .card-body .nahele{
    background-color: var(--deepteal);
    color: var(--textcolor);
}
.hema .keawa .card {
    display: flex;
    flex-direction: column;
}
/*BOOK A THERAPIST*/
/*MENTAL HEALTH QUIZ*/

/*BOOK A SESSION*/
.well-block .well-title h2{
    margin: 20px auto auto auto;
    padding: auto;
}
#book-sess{
    margin-top: 10px;
}
#singlebutton{
    background-color: var(--darkgreen);
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    color: var(--textcolor);
}
/*BILLING*/
.content-panel {
    padding: 20px;
}
.content-panel .title{
    margin: 10px auto 18px auto;
    font-size: 25px;
    font-weight: 650;
}
.accepted-cards img{
    margin: auto 5px;
}
.form-group label {
    font-weight: 500;   
}
.form-group input {
    margin: 8px auto;
    border: 1px solid black;
} 
.form-group .help-block{
    opacity: 0.5;
} 
/*
.form-group {
    display: flex;
    align-items: center; /*Align items vertically in the center 
}

.form-group label {
    flex: 1;  /*Grow to take up remaining space
}
*/
.action-btn button{
    background-color: var(--deepteal);
    color: var(--textcolor);
    padding: 10px 20px;
}
.action-btn button:hover{
    background-color: var(--deepteal);
    color: var(--textcolor);
    padding: 10px 20px;
}
/*THERAPIST*/
.bg-image .mask h2{
    color: var(--textcolor);
    font-size: 20px;
    font-family: var(--montserrat);
}
/* Card styles */
.info-obj {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
  
.info-obj .img {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--greengreen);
    padding: 15px;/*remove this*/
    overflow: hidden;
}
  
.info-obj .img .txt-white {
    position: center;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
  
.info-obj .info {
    width: 50%;
    margin: 0%;
    padding: 20px;
    border: 1px solid var(--textcolor);
    border-radius: 10px;
    background-color: var(--textcolor);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 1);/*horizontal offset of 0, vertical off set of 3px, blur radius of 4px*/
}
  
.info-obj .info .fa-regular {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    /*position: relative;
    z-index: 1;*/
}
  
.info-obj .info .title {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.info-obj .info p {
    padding: auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-obj .info .btn{
    background-color: var(--greengreen);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}  
  /* Animation styles */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
  
.fadeInUp {
    animation-name: fadeInUp;
}
  
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
}
  
    to {
      opacity: 1;
      transform: none;
    }
}  
/*TIPS GENERATOR*/
.tips-body{
    margin: 10px 0;
    min-height: 100vh;
    background-color: #bec7b8;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-container {
    width: auto;
    max-width: 900px;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: var(--greengreen);
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.9);
}  
.quote-text {
    font-size: 2.75rem;
}
.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: var(--darkgreen);
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121,121,121,0.65);
}
  
button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255,255,255,0.65);
}
/* media query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .quote-container {
      margin: auto 10px;
    }
  
    .quote-text {
      font-size: 2.5rem;
    }
}
/*CONTACT US PAGE*/
.contactsection .list-unstyled .fa-solid{
    color: var(--deepteal);
}
.row-content .row-yago .xann{
    margin: auto auto 5px 0px;
    font-weight: 450;
}
.row-content .row-yago #name{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
.row-content .row-yago #email{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
.row-content .row-yago #message{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
.row-content #contact-btn{
    margin-top: 15px;
}
.row-content .btn{
    background-color: var(--darkgreen);
    border-radius: 5px;
    border: 1px solid var(--darkgreen);
    padding: 10px 30px;
    color: var(--textcolor);
}
.row-content .btn:hover{
    background-color: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    border-radius: 5px;
    color: var(--textcolor);
}
/*quiz*/
.container .quiz-home-content{
    line-height: 1.8;
    word-spacing: 1.2;
}
.general-tests a{
    width: 280px;
    padding: 23px 10px;
    color: var(--textcolor);
    background-color: var(--darkgreen);
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .01em;
    text-decoration: none;
    margin: 30px 10px 20px;
    border-radius: 8px;
    transition: .2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
/*depresion test*/
.container .depres-test .question fieldset{
    margin: 20px;
    padding: 10px;
}
.container .depres-test .question fieldset legend{
    font-size: 16px;
}
.container .depres-test .question input[type=submit]{
    padding: 10px 50px;
    margin: 10px auto 10px 30px;
    background-color: var(--darkgreen);
    color: var(--textcolor);
    border-radius: 5px;
    font-size: 20px;
}
/*FOOTER*/
footer{
    background-color: var(--greengreen) !important;
    margin-top: 50px;
}
footer .pnet p{
    color: black;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 576px) {
    .container .anil .form-center .kai .zephyr{
        max-width: 570px;
        padding: auto;
    }  
    .container .anil .form-center .kai .zephyr .mb-3 input{
        max-width: 550px;
        padding: auto;
    }
    .container .anil .form-center .kai .zephyr .tempest .btn{
        max-width: 550px;
        padding: auto;
    }
}
@media screen and ((min-width: 400px) and (max-width: 575.98px)){

    .container .anil .form-center .kai .zephyr{
        max-width: 410px;
        padding: auto;
    }  
    .container .anil .form-center .kai .zephyr .mb-3 input{
        max-width: 400px;
        padding: auto;
    }
    .container .anil .form-center .kai .zephyr .tempest .btn{
        max-width: 400px;
        padding: auto;
    }
}
@media screen and (max-width: 400px) {
    .container .anil .form-center .kai .zephyr{
        max-width: 380px;
        padding: auto;
    }  
    .container .anil .form-center .kai .zephyr .mb-3 input{
        max-width: 360px;
        padding: auto;
    }
    .container .anil .form-center .kai .zephyr .tempest .btn{
        max-width: 360px;
        padding: auto;
    }
}
@media screen and (max-width: 280px) {
    .container .anil .form-center .kai .zephyr{
        max-width: 250px;
        padding: auto;
    }  
    .container .anil .form-center .kai .zephyr .mb-3 input{
        max-width: 230px;
        padding: auto;
    }
    .container .anil .form-center .kai .zephyr .tempest .btn{
        max-width: 230px;
        padding: auto;
    }
}